/*toggel swich*/
.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: var(--Facebook);
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background: var(--ToggleDark);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background: var(--Dark_Desaturated_Blue_Card-BG);
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background: var(--ToggleBright);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  background: var(--White_Text);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}
/*dark mode colors*/
/*common*/
.textColor_light {
  color: var(--Very_Dark_Blue_Text);
}
.textColor_Dark {
  color: var(--White_Text);
}
/*body*/
.darkMode {
  background: var(--Very_Dark_Blue_BG);
}
/*header*/
.headerBackground_Light {
  background: var(--Very_Pale_Blue_Top-BG-Pattern);
}
.headerBackground_Dark {
  background: var(--Very_Dark_Blue_Top-BG-Pattern);
}
/*cards*/
.cardBackground_Dark {
  background: var(--Dark_Desaturated_Blue_Card-BG);
}
.cardBackground_Light {
  background: var(--Light_Grayish_Blue_Card-BG);
}
/*h2 color*/
.h2LightMode {
  color: var(--Dark_Grayish_Blue_Text);
}
/*hover*/
.cardBackground_Light:hover {
  background: var(--hover_Light);
}
.cardBackground_Dark:hover {
  background: var(--hover_Dark);
}
/*text color*/
.grayTextColor_Light {
  color: var(--Dark_Grayish_Blue_Text);
}
.grayTextColor_Dark {
  color: var(--Desaturated_Blue_Text);
}
